<div class="row" id="layoutTop">
  <div class="col-md-12">

    <div class="col-md-3 col-xs-12">
      <div id="photoOeuvreLayout">
        <img src="{{artwork?.image}}" alt="Image oeuvre" width="250" height="400"> <!-- ? : observable est async donc pas sûr d'avoir la donnée au moment où je veux l'appeler donc la donnée est indéfini et donc null donc exception-->
      </div>
    </div>

    <div class="col-md-9 col-xs-12">
      <div id="rightLayout">
          <h2>{{artwork?.title}}</h2>
          <span class="label label-success">{{artwork?.type}}</span>
          <h4>{{artwork?.year}}</h4>
          <h4>{{artwork?.duration}} minutes</h4>
      </div>
    </div>
  </div>
</div>

<div class="row" id="layoutMid">
  <div class="col-md-12">
    <div class="col-xs-12">
        <div id="descriptionLayout">
          <h4>Description</h4>
          <p>
            {{artwork?.description}}
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <ng-container *ngIf="artwork?.director; else artistTemplate">
            <h4>Realisateur : {{artwork?.director.firstname}} {{artwork?.director.name}}</h4>
        </ng-container>

        <ng-template #artistTemplate>
          <h4>Artistes</h4>
          <div class="col-md-2" *ngFor="let artist of artwork?.artists">
            <img class="img-circle" src="{{artist.image}}" width="130" height="130" alt="Image Artiste">
            <p>{{artist.firstname}} {{artist.name}}</p>
          </div>
        </ng-template>
    </div>

    <div *ngIf="artwork?.actors" class="col-xs-12">
      <h4>Acteurs :</h4>
      <div class="col-md-2" *ngFor="let actor of artwork?.actors">
        <img class="img-circle" src="{{actor.image}}"  width="130" height="130" alt="Image Acteur">
        <p>{{actor.firstname}} {{actor.name}}</p>
      </div>
    </div>

  </div>
</div>
